.root {
-fx-font-size: 13px;
-fx-font-family: ariel;
-fx-background-color: #000064;
-fx-background-image: url("runescapePic1.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-position: 50% 50%;
-fx-color: #ffffff;
}

.button {
-fx-background-color:
        #0a1208;
-fx-opacity: 0.7;
-fx-color: #121603;


}
.text-field {
    -fx-background-color: #0a1208;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}

.label {
-fx-text-fill: #fefee6;



}

.button:hover {

-fx-background-color: #46590d;
-fx-opacity: 0.6;
-fx-color: #121603;


}


}